body,
html {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.leaflet-control-zoom a:last-child {
  border-bottom: none;
}

.leaflet-right .leaflet-control {
  margin-right: 10px;
}

.login-btn {
    position: fixed;
    top: 10px;
    right: 50px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.login-btn:hover {
    background-color: #fff;
    color: #333;
}

.login-btn .fa {
    padding-left: 7px;
}

.login-container {
    background-color: #ffffff;
    padding: 56px;
    border-radius: 36px;
    box-shadow: 0 0 10px;
    width: 290px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login-container label {
    margin-bottom: 5px;
}

.login-container input {
    margin-bottom: 30px;
    padding: 11px;
    border: 1px solid #000000;
    border-radius: 3px;
}
.login-container input:placeholder-shown {
    color: red;
}

.login-container button {
    color: #fff;
    /* padding: 5px 10px; */
    border-radius: 5px ;
    border-color: black;
    cursor: pointer;
    width: 100%;
}

.login-container button[type="submit"] {
    background-color: #333;
    padding: 10px;
}
.login-container button[type="submit"]:hover {
    background-color: rgba(55, 52, 52, 0.897);
    color: #ffff;
}

.facebook-login {
    background-color: #1877f2;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.facebook-login i {
    margin-right: 5px;
}

.additional-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-title {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .site-title i {
    margin-right: 8px;
  }

